@page "{boardingId:Guid?}"
@model CBoardings.WebApp.Pages.BoardedModel
@{
}
<h1 class="display-4">Boarding Information</h1>

<form method="post" style="align-content:flex-start">

    <input type="hidden" asp-for="Boarding.Id" />
    <div class="container" >
        <label>Lat</label>
        <div class="row">
            <div class="col-3 m-2 offset-1">
                <label>Deg</label>
                <input asp-for="Boarding.LatDeg" class="form-control" />
                <span class="text-danger" asp-validation-for="Boarding.LatDeg"></span>
            </div>
            <div class="col-3 m-2">
                <label class="text-bold">Min</label>
                <input asp-for="Boarding.LatMin" class="form-control" />
                <span class="text-danger" asp-validation-for="Boarding.LatMin"></span>
            </div>
        </div>

        <div class="row">
            <label>Long</label>
            <div class="col-3 m-2">
                <label>Deg</label>
                <input asp-for="Boarding.LongDeg" class="form-control" />
                <span class="text-danger" asp-validation-for="Boarding.LongDeg"></span>
            </div>
            <div class="col-3 m-2">
                <label>Min</label>
                <input asp-for="Boarding.LongMin" class="form-control" />
                <span class="text-danger" asp-validation-for="Boarding.LongMin"></span>
            </div>
        </div>

        <label>What happened... </label>
        <div class="align-content-lg-stretch">
            <textarea placeholder="Describe your incident..." required="true" cols="50" rows="15" asp-for="Boarding.Description"></textarea>
            <span class="text-danger" asp-validation-for="Boarding.Description"></span>
        </div>
        <div class="form-group">
                <label asp-for="Boarding.BoardingTime" class="control-label"></label>
                <input asp-for="Boarding.BoardingTime" class="form-control" />
                <span asp-validation-for="Boarding.BoardingTime" class="text-danger"></span>
            </div>
    </div>
    <div class="btn-group">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>
