@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
body {
  background-image: url('photos_2018_7_16_fst_water-ripple.jpg');
}
</style>
<div class="container-md" style="align-content:start">
    <h2>Welcome to CBoardings</h2>
    <p>This is a website that will keep track of boardings<br /> taken place in the seas, around the Irish coast.<br/>
        It will be used as an information page and the information <br />of the boardings will be logged into a database for anyone to access.
    </p>
</div>
<div class="text-center">
    <h1 class="display-4">Were you Boarded?</h1>
    <span class="btn-group">
        <a class="btn btn-danger" asp-page="./Navy/Boarded">
            Boarded<i>⚓</i></a>
    </span>
    
</div>
<body style="align-content:center">
    
    @foreach(var boarding in Model.Boardings)
    {
        <partial name="_Summary" model="boarding"/>
    }    
</body>
