@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Were you Boarded?</h1>
    <span class="btn-group">
        <a class="btn btn-danger" asp-page="./Boarded/Boarded">
            Boarded<i>⚓</i></a>
    </span>
    
</div>
<body style="align-content:center">
    
    @foreach(var boarding in Model.Boardings)
    {
        <partial name="_Summary" model="boarding"/>
    }          
</body>
